body {
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: auto auto 70px;
    font-family: Arial, Helvetica, sans-serif;
}

/* .header {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: rgba(35, 35, 51, 0.925);
    grid-column: 1 / -1;
    padding: 14px 20px;
    
} */
.header {
    background-color: rgba(35, 35, 51, 0.925);
    display: flex;
    justify-content: flex-start;
    list-style: none;
    box-sizing: border-box;
    padding: 10px 0px;
    padding-left: 30px;
}
.logo {
    margin-bottom: 20px;
    
    flex: 1;
}
ul {
    display: flex;
    justify-content: flex-end;
    margin-left: 90px;
    padding-right: 5px;
    flex: 1;
    list-style: none;
    text-decoration: none;
}

.logo {
   
    position: absolute;
    top: -15px;
    font-size: 38px;
    font-weight: bold;
    color: white;
}
span{
    color: green;
}
.nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 0px;
    word-spacing: 1px;
    margin-right: 15px;
    margin-left: -5px;
    line-height: 20px;
}
.nav a:hover{
    text-decoration: none;
    list-style: none;
    transition: 1s;
    color: yellow;
    background-color: palevioletred;
    border: none;
    border-radius: 15px;
}
.nav {
    font-size: 15px;
}

/*....CONTENT.....*/
.content {
    grid-column: 1 / -1;
    background-color: rgb(255, 255, 255);
}
.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 450px;
    grid-gap: 10px;
    margin: 30px 32px;
}
.card {
    background-color: white;
    text-align: center;
    display: block;
    border: 2.5px solid rgba(128, 128, 128, 0.226);
    border-radius: 5px;
}
figcaption {
    padding-top: 5px;
    font-size: 19px;
}
button {
    border: 2px solid rgba(128, 128, 128, 0.548);
    background-color: white;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.877);
}
.card img {
    width: 100%;
    height: auto;
    background-color: rgba(220, 220, 220, 0.397);
}
.banana img {
    height: 309px;
}
.orange img {
    height: 309px;
}
.strawberry img {
    height: 309px;
}
.pineapple img {
    height: 309px;
}
.lettuce img {
    height: 309px;
}
.grapes img {
    height: 309px;
}
.carrot img {
    height: 309px;
}
.avocado img {
    height: 309px;
}
.pawpaw img {
    height: 309px;
}
button:hover {
    background-color: rgba(35, 35, 51, 0.925);
    color: white;
    cursor: pointer;
}
/*.....FOOTER......*/
.footer {
    background-color: rgba(255, 255, 0, 0.719);
    padding: 10px 0;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


 /*li:nth-child(1) {
    margin-right: 50px;
    align-items: center;
 }*/